
:root {
    --blue: #5766b8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans", serif;
}

body {
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

body div {
    display: -webkit-box;
}

body a {
    text-decoration: none;
    color: black;
}

body input, body textarea {
    resize: vertical;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    resize: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none !important;
}
